@charset "UTF-8";
@font-face {
  font-family: "NotoSans-Black";
  src: url("../fonts/NotoSans-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.caja {
  width: 100%;
  height: 150px;
  background-image: url("../img/hand-hold-soccer-ball-805422.webp");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.caja .caja-img {
  border-radius: 10px;
  margin-left: 10px;
  animation-name: girar;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.caja .caja-encabezado {
  font-family: "NotoSans-Black";
  font-size: 40px;
  color: red;
  display: inline;
  margin-right: 155px;
  animation: focus-in-contract 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

body {
  background-color: aliceblue;
  background-size: cover;
  background-image: linear-gradient(45deg, white, rgb(106, 106, 175), rgb(175, 56, 56));
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 0.0172443978) 12%, rgb(7, 71, 162) 100%);
}

.bienvenidos {
  color: blue;
  font-family: "NotoSans-Black";
  text-align: center;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
.grid {
  font-family: "NotoSans-Black";
  color: blue;
  min-height: 100vh;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "Mejor-salud     textomejor-salud" "texto-deshab    habilidades" "fomento         texto-fomento" "texto-desprof   desprof";
  gap: 1rem;
  margin: 20px 20px 50px 100px;
}
.grid .mejor-salud {
  background-color: aqua;
  grid-area: Mejor-salud;
  background-image: url("../img/saludmental.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 80px;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  text-align: center;
  animation-name: rotar;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes rotar {
  0% {
    transform: rotateY(30deg);
  }
  50% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.grid .textomejor-salud {
  font-size: 15px;
  background-color: rgb(193, 193, 248);
  color: black;
  border-radius: 80px;
  grid-area: textomejor-salud;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  text-align: center;
  height: 450px;
  width: 450px;
}
.grid .textomejor-salud:hover {
  transition: 1s;
  transform: scale(1.2);
  color: red;
}
.grid .deshab {
  background-color: brown;
  grid-area: habilidades;
  background-image: url("../img/habilidad.webp");
  background-size: cover;
  background-position: center center;
  border-radius: 80px;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  animation-name: rotar;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.grid .texto-deshab {
  font-size: 15px;
  background-color: rgb(193, 193, 248);
  color: black;
  border-radius: 80px;
  grid-area: texto-deshab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  height: 450px;
  width: 450px;
}
.grid .texto-deshab:hover {
  transition: 1s;
  transform: scale(1.2);
  color: red;
}
.grid .fomento {
  background-color: blue;
  grid-area: fomento;
  background-image: url("../img/competencia.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 80px;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  animation-name: rotar;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.grid .texto-fomento {
  font-size: 15px;
  background-color: rgb(193, 193, 248);
  color: black;
  border-radius: 80px;
  grid-area: texto-fomento;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  height: 450px;
  width: 450px;
}
.grid .texto-fomento:hover {
  transition: 1s;
  transform: scale(1.2);
  color: red;
}
.grid .desprof {
  background-color: azure;
  grid-area: desprof;
  background-image: url("../img/profesional.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 80px;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  animation-name: rotar;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.grid .texto-desprof {
  font-size: 14px;
  background-color: rgb(193, 193, 248);
  color: black;
  border-radius: 80px;
  grid-area: texto-desprof;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  height: 450px;
  width: 450px;
}
.grid .texto-desprof:hover {
  transition: 1s;
  transform: scale(1.2);
  color: red;
}

.container {
  margin-top: 20px;
}
.container .titulo-ofrecemos {
  font-family: "NotoSans-Black";
  font-size: 40px;
  margin-top: 40px;
  margin-left: 20px;
  color: black;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
.container .texto-ofrecemos {
  font-family: Verdana;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: justify;
  margin-right: 20px;
  color: black;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
.container .contenedor {
  margin: 1rem;
  display: flex;
  gap: 2rem;
  margin-top: 50px;
}
.container .icono {
  animation: rotate-vert-center 12s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@keyframes rotate-vert-center {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.container .beneficios {
  text-align: justify;
}
.container .titulos-beneficios {
  font-family: "NotoSans-Black";
  font-size: 20px;
}
.container .titulos-beneficios:hover {
  transition: 1s;
  transform: scale(1.2);
}
.container .parrafo {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.container .parrafo:hover {
  transition: 1s;
  transform: scale(1.2);
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nosotros .imgnos1 {
  border-radius: 75px;
}
.nosotros .imgnos1:hover {
  transition: 1s;
  transform: rotate(10deg);
}
.nosotros .imgnos2 {
  border-radius: 75px;
}
.nosotros .imgnos2:hover {
  transition: 1s;
  transform: rotate(10deg);
}
.nosotros .imgnos3 {
  border-radius: 75px;
}
.nosotros .imgnos3:hover {
  transition: 1s;
  transform: rotate(10deg);
}
.nosotros .imgnos4 {
  border-radius: 75px;
}
.nosotros .imgnos4:hover {
  transition: 1s;
  transform: rotate(10deg);
}
.nosotros .entrenando {
  border-radius: 75px;
  animation: rotate-in-2-fwd-cw 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes rotate-in-2-fwd-cw {
  0% {
    transform: translateZ(-200px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}
.container {
  margin-top: 20px;
}
.container .titulo-container {
  font-family: "NotoSans-Black";
  color: black;
  font-size: 40px;
}
.container .parrafo-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 20x;
  text-align: justify;
}

.fondo-columnas {
  background-color: aliceblue;
  border-radius: 30px;
  margin: 40px 40px 40px 40px;
  border-color: blue;
  border-style: double;
  padding: 10px;
}

.motivate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.motivate .imgmotivate {
  border-radius: 70px;
  animation: slide-in-elliptic-top-fwd 2s steps(2, start) infinite alternate forwards;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.texto-sueños {
  font-family: Verdana;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
  color: black;
}

.contacto {
  margin-left: 70px;
  margin-top: 40px;
}

.formulario {
  gap: 280px;
  margin-left: 70px;
  margin-bottom: 40px;
  display: flex;
}
.formulario .estamos {
  justify-items: right;
}

.footer {
  background-color: rgb(219, 7, 7);
}
.footer .seguinos {
  text-align: center;
  padding: 1rem;
}
.footer .linkear {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer .pie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 480px) {
  .caja {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    justify-content: left;
    align-items: start;
  }
  .caja .caja-encabezado {
    font-size: 15px;
    margin-left: 10px;
  }
  .caja .caja-img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .fondo-columnas {
    width: 70%;
  }
  .col-md-4 {
    width: 70%;
  }
  .container {
    margin-top: 20px;
  }
  .motivate {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}/*# sourceMappingURL=estilo.css.map */