body {
    background-color: aliceblue;
    background-size:cover;
    background-image: linear-gradient(45deg, white, rgb(106, 106, 175), rgb(175, 56, 56));
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,0.01724439775910369) 12%, rgba(7,71,162,1) 100%);
}

    .bienvenidos {
        color: blue;
        font-family: "NotoSans-Black";
        text-align: center;
    }

    .grid {
        font-family: "NotoSans-Black";
        color: blue;
        min-height: 100vh;
        
        align-items: center;
        display: grid;
        
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "Mejor-salud     textomejor-salud"
            "texto-deshab    habilidades"
            "fomento         texto-fomento"
            "texto-desprof   desprof";
        gap: 1rem; 
        margin: 20px 20px 50px 100px; 
        
        .mejor-salud {
            background-color: aqua;
            grid-area: Mejor-salud;
            background-image: url("../img/saludmental.jpg");
            background-size: cover;
            background-position: center center;
            border-radius: 80px;
            height: 450px;
            width: 450px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 1rem;
            text-align: center;
        }
        .textomejor-salud {
            font-size: 15px;
            background-color: rgb(193, 193, 248);
            color: black;
            border-radius: 80px;
            grid-area: textomejor-salud;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 1rem;
            text-align: center;
            height: 450px;
            width: 450px;
        }
        .deshab {
            background-color: brown;
            grid-area: habilidades;
            background-image: url("../img/habilidad.webp");
            background-size: cover;
            background-position: center center;
            border-radius: 80px;
            height: 450px;
            width: 450px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
        }
        .texto-deshab {
            font-size: 15px;
            background-color: rgb(193, 193, 248);
            color: black;
            border-radius: 80px;
            grid-area: texto-deshab;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
            height: 450px;
            width: 450px;
        }
        
        .fomento {
            background-color: blue;
            grid-area: fomento;
            background-image: url("../img/competencia.jpg");
            background-size: cover;
            background-position: center center;
            border-radius: 80px;
            height: 450px;
            width: 450px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
        }
        .texto-fomento {
            font-size: 15px;
            background-color: rgb(193, 193, 248);
            color: black;
            border-radius: 80px;
            grid-area: texto-fomento;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
            height: 450px;
            width: 450px;
        }
        
        .desprof {
            background-color: azure;
            grid-area: desprof;
            background-image: url("../img/profesional.jpg");
            background-size: cover;
            background-position: center center;
            border-radius: 80px;
            height: 450px;
            width: 450px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
        }
        .texto-desprof {
            font-size: 14px;
            background-color: rgb(193, 193, 248);
            color: black;
            border-radius: 80px;
            grid-area: texto-desprof;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;
            text-align: center;
            height: 450px;
            width: 450px;
        }

    }