.contacto {
    margin-left: 70px;
    margin-top: 40px;
}
.formulario {
    gap: 280px;
    margin-left: 70px;
    margin-bottom: 40px;

    display: flex;
    
    .estamos{
     justify-items: right;
    }
}