.container {
    margin-top: 20px;

    .titulo-container {
        color: blue;
    }
    .parrafo-container {
        color: blue;
        font-size: 20px;
        text-align: justify;
    }

}   

.fondo-columnas {
    background-color: aliceblue;
    border-radius: 30px;
    margin: 40px 40px 40px 40px;
    border-color: blue;
    border-style: double;
    padding: 10px;
    
}