.container {
    margin-top: 20px;

    .titulo-container {
        font-family: "NotoSans-Black";
        color: black;
        font-size: 40px;
    }
    .parrafo-container {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 20x;
        text-align: justify;
    }

}   

.fondo-columnas {
    background-color: aliceblue;
    border-radius: 30px;
    margin: 40px 40px 40px 40px;
    border-color: blue;
    border-style: double;
    padding: 10px;
    
}