@media screen and (max-width: 480px) {
    .caja {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        justify-content: left;
        align-items: start;

    }
    .caja-encabezado {
        font-family: "NotoSans-Black";
        font-size: 10px;
        margin-left: 10px;
    
    }
    .caja-img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
    } 
    .nosotros {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } 
    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } 
    .fondo-columnas {
        width: 70%;
    } 
    .col-md-4 {
        width: 70%;
    }
    .container {
        margin-top: 20px;
    }
    .motivate {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }  
    .formulario {
        display: flex;
        flex-direction: column;
    }
}