.motivate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    
        .imgmotivate {
        border-radius: 70px;
}

}

.texto-sueños {
    font-family: Verdana;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
    color: black;
}